@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 67%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 10%;
}

/*----------------------------
        BUTTON STYLING
  ----------------------------*/

.button {
  background-color: #130f40;
  color: #fff;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.6rem;
  cursor: pointer;
}

.button:hover {
  background: #27ae60;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

/*----------------------------
        HEADING STYLES
  ----------------------------*/

.sub-heading {
  text-align: center;
  color: #27ae60;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: #130f40;
  font-size:3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

/*----------------------------
      HEADER SECTION STYLE
  ----------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background:#fff;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.05);
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color:#130f40;
}

.header .logo i {
  padding-right: 0.5rem;
  color: #27ae60;
}

.header .navbar a {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color:#666;
  text-decoration: none;
}

.header .navbar a:hover {
  color:#fff;
  background-color: #27ae60;
  transition: all 0.3s ease;
}

.header .bar i,
.header .bar a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: #130f40;
  border-radius: 50%;
  background: #eee; 
}

.header .bar i:hover,
.header .bar a:hover {
  color: #fff;
  background: #27ae60;
}



.header .bar #menu-bars {
  display: none;
}

/*----------------------------
      HEADER SECTION STYLE
  ----------------------------*/

/*----------------------------
       HOME SECTION STYLE
  ----------------------------*/

.home .container-home .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .container-home .slide .content {
  flex: 1 1 45rem;
}

.home .container-home .slide .image {
  flex: 1 1 45rem;
}

.home .container-home .slide .image img {
  width: 100%;
  border-radius: 100%;
}

.home .container-home .slide .content span {
  color: #27ae60;
  font-size: 2rem;
}

.home .container-home .slide .content h3 {
  color: #130f40;
  font-size: 6rem;
}

.home .container-home .slide .content p {
  color: #666;
  font-size: 2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.home .container-home .slide .content a {
  background-color: #130f40;
  color: #fff;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.6rem;
  cursor: pointer;
}

.home .container-home .slide .content a:hover {
  background-color: #27ae60;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

/*----------------------------
       HOME SECTION STYLE
  ----------------------------*/

/*----------------------------
       ABOUT SECTION STYLE
  ----------------------------*/

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row .image {
  flex:1 1 45rem;
}

.about .row .image img {
  width:100%;
  border-radius: 100%;
}

.about .row .content {
  flex:1 1 45rem;
}

.about .row .content h3 {
  color:#130f40;
  font-size: 4rem;
  padding: 0.5rem 0;
}

.about .row .content p {
  color: #666;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}

.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.about .row .content .icons-container .icons {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem
}

.about .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: #27ae60;
}

.about .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: #130f40;
}

/*----------------------------
       ABOUT SECTION STYLE
  ----------------------------*/

/*----------------------------
     POPULAR SECTION STYLE
  ----------------------------*/

.popular .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.popular .box-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0,0,0,0.2);
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.05);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.popular .box-container .box .fa-heart {
  position:absolute;
  top: 1.5rem;
  background:#eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #130f40;
  right: -15rem;
}

.popular .box-container .box .fa-heart:hover {
  background: #27ae60;
  color: #fff;
}

.popular .box-container .box:hover .fa-heart {
  right: 1.5rem;
}

.popular .box-container .box img {
  height: 17rem;
  width: 17rem;
  margin: 1rem 0;
}

.popular .box-container .box h3 {
  color: #130f40;
  font-size: 2.5rem;
}

.popular .box-container .box .stars {
  padding:1rem 0;
}

.popular .box-container .box .stars i{
  font-size: 1.7rem;
  color: #27ae60;
}

.popular .box-container .box span {
  color: #27ae60;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

/*----------------------------
     POPULAR SECTION STYLE
  ----------------------------*/

/*----------------------------
       MENU SECTION STYLE
  ----------------------------*/

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  background: #fff;
  border: 0.1rem solid rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}

.menu .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.menu .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: -15rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 100%;
  color: #130f40;
}

.menu .box-container .box:hover .image .fa-heart {
  right: 2.5rem;
}

.menu .box-container .box .image .fa-heart:hover {
  background-color: #27ae60;
  color: #fff;
}

.menu .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}

.menu .box-container .box .content .stars{
  padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #27ae60;
}

.menu .box-container .box .content h3 {
  color: #130f40;
  font-size: 2.5rem;
}

.menu .box-container .box .content p {
  color: #666;
  font-size: 1.7rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu .box-container .box .content .price {
  color: #27ae60;
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
}

/*----------------------------
       MENU SECTION STYLE
  ----------------------------*/

/*----------------------------
      ORDER SECTION STYLE
  ----------------------------*/

.order form {
  width: 90rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  border: 0.1rem solid rgba(0,0,0,0.2);
  background: #fff;
  padding: 1.5rem;
  margin:0 auto;
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order form .inputBox .input {
  width: 49%;
}

.order form .inputBox .input label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}

.order form .button {
  margin-top: 0;
}

/*----------------------------
      ORDER SECTION STYLE
  ----------------------------*/

/*----------------------------
      FOOTER SECTION STYLE
  ----------------------------*/
.footer .box-container {
  display:flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: #130f40;
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.footer .box-container .box a:hover {
  color: #27ae60;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0,0,0,0.1);
  font-size: 2rem;
  color: #130f40;
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: #27ae60;
}

/*----------------------------
      FOOTER SECTION STYLE
  ----------------------------*/

/*----------------------------
       RESPONSIVE STYLES
  ----------------------------*/

@media (max-width:991px) {
  html {
    font-size: 55%;
  }

  .header {
  padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width:768px) {
  .header .bar #menu-bars {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0,0,0,0.2);
    padding: 1rem;
    clip-path: polygon(0 0,100% 0,100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
  }

  .header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee
  }

  .home .container-home .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }

  .popular .box-container .box img {
    height: auto;
    margin: 1rem 0;
    width: 100%;
  }

  .order form .inputBox .input {
    width: 100%;
  }
}